@model IEnumerable<LAB_11.Models.Student>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        body
        {
            background-color:burlywood
        }
        footer{
            text-align:center;
            margin-top:300px; 
        }
    </style>
</head>
<body>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr style="color:red">
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gpa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.regno)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gpa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.regno)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }
    
    </table>
    <footer>

        <p style="background-color:powderblue;">
            Developed by: Fatima Javed
        </p>
    </footer>
</body>
</html>
